:root {
    --main-color: #000000;
    --brand-color: #D41443;
    --second-color: #FFB8CA;
    --third-color: #FFFFFF;
    --first-bg-color: #FFF5F6;

    --count-cards: 3;
    --dst-between: 32px;

    --animation-regular: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}