<section class="advantages" id="about_us">
    <div class="container page-advantages">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="page-advantages__list">
            <li class="page-advantages__item page-advantages__item--1">

                <img class="page-advantages__icon" src="./images/advantages/icon-advantages-1.png"
                    alt="milk bucket icon">

                <h3 class="page-advantages__title benefits__number"><strong>721</strong></h3>
                <p class="page-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="page-advantages__item page-advantages__item--2">
                <img class="page-advantages__icon " src="./images/advantages/icon-advantages-2.png"
                    alt="apple bucket icon">
                <h3 style="display: inline;" class="page-advantages__title benefits__number">16</h3><span
                    class="page-advantages__title">Kg</span>
                <p class="page-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="page-advantages__item page-advantages__item--3">

                <img class="page-advantages__icon" src="./images/advantages/icon-advantages-3.png"
                    alt="lollipop in the form of a heart icon">
                <h3 class="page-advantages__title benefits__number"><strong>84</strong></h3>
                <p class="page-advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>