<section id="contact" class="affiliates container-bg">
  <div class="container">
    <h3 hidden>Контакти</h3>
    <div class="cities">
      <ul class="chicago">
        <li class="chicago_cafe">CAFE</li>
        <li>
          <h4 class="chicago_citi">Chicago</h4>
          <p class="chicago_description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <hr />
        </li>
        <li>
          <div class="chicago_timetable">
            <ul>
              <li class="chicago_day">Monday - Friday</li>
              <li class="chicago_time">
                <time datetime="06:00">06:00</time> AM -
                <time datetime="10:00">10:00</time> PM
              </li>
              <li class="chicago_day">Saturday - Sunday</li>
              <li class="chicago_time">
                <time datetime="08:00">08:00</time> AM -
                <time datetime="16:00">16:00</time> PM
              </li>
            </ul>
          </div>
          <hr />
        </li>
        <li>
          <div class="chicago_contacts">
            <a href="tel:+610383766284" class="chicago_tel"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" class="chicago_tel"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
      <ul class="chicago">
        <li class="los-angeles_cafe">FOODTRUCK</li>
        <li>
          <h4 class="chicago_citi">Los Angeles</h4>
          <p class="chicago_description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <hr />
        </li>
        <li>
          <div class="chicago_timetable">
            <ul>
              <li class="chicago_day">Monday - Friday</li>
              <li class="chicago_time">
                <time datetime="06:00">06:00</time> AM -
                <time datetime="10:00">10:00</time> PM
              </li>
              <li class="chicago_day">Saturday - Sunday</li>
              <li class="chicago_time">
                <time datetime="08:00">08:00</time> AM -
                <time datetime="16:00">16:00</time> PM
              </li>
            </ul>
          </div>
          <hr />
        </li>
        <li>
          <div class="chicago_contacts">
            <a href="tel:+610383766284" class="chicago_tel"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" class="chicago_tel"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
      <ul class="chicago">
        <li class="chicago_cafe">CAFE</li>
        <li>
          <h4 class="chicago_citi">New York</h4>
          <p class="chicago_description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <hr />
        </li>
        <li>
          <div class="chicago_timetable">
            <ul>
              <li class="chicago_day">Monday - Friday</li>
              <li class="chicago_time">
                <time datetime="06:00">06:00</time> AM -
                <time datetime="10:00">10:00</time> PM
              </li>
              <li class="chicago_day">Saturday - Sunday</li>
              <li class="chicago_time">
                <time datetime="08:00">08:00</time> AM -
                <time datetime="16:00">16:00</time> PM
              </li>
            </ul>
          </div>
          <hr />
        </li>
        <li>
          <div class="chicago_contacts">
            <a href="tel:+610383766284" class="chicago_tel"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" class="chicago_tel"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
    </div>

    <div class="chicago_btn">
      <button type="button" class="locations_btn" data-contacts_modal-open>
        Our Locations
        <svg class="locations_pointer" width="10" height="10">
          <use href="./images/icons/icons.svg#icon-pointer"></use>
        </svg>
      </button>
      <button type="button" class="franchise_btn">
        Franchise
        <svg class="franchise_pointer" width="10" height="10">
          <use href="./images/icons/icons.svg#icon-pointer"></use>
        </svg>
      </button>
    </div>
    <!-- modal -->
    <div class="beckdrop is-hidden" data-contacts_modal>
      <div class="contacts_modal">
        <div class="modal-block">
          <a
            class="modal-citi"
            href="https://goo.gl/maps/DrQSywFxL9w6f9zS8"
            target="_blank"
            >Chicago</a
          >
          <a
            class="modal-citi"
            href="https://goo.gl/maps/77X2oqVvPbT3ZPme6"
            target="_blank"
            >Los Angeles</a
          >
          <a
            class="modal-citi"
            href="https://goo.gl/maps/A6HECETaaRe1m4xQ8"
            target="_blank"
            >New York</a
          >
        </div>
        <button
          class="contacts_modal-drop"
          type="button"
          data-contacts_modal-close
        >
          <svg class="contacts_modal-close"></svg>
        </button>
      </div>
    </div>
  </div>
</section>
