<section class="gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__column">
        <div class="gallery__item gallery__item--first">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-01_lg.webp    1x,
                images/gallery/image-01_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-01_lg.png    1x,
                images/gallery/image-01_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-01_m.webp    1x,
                images/gallery/image-01_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-01_m.png    1x,
                images/gallery/image-01_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-01_s.webp    1x,
                images/gallery/image-01_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-01_s.png    1x,
                images/gallery/image-01_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-01_s.png"
              alt="ice-cream in a plate"
              class="gallery__pic"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-02_lg.webp    1x,
                images/gallery/image-02_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-02_lg.png    1x,
                images/gallery/image-02_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-02_m.webp    1x,
                images/gallery/image-02_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-02_m.png    1x,
                images/gallery/image-02_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-02_s.webp    1x,
                images/gallery/image-02_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-02_s.png    1x,
                images/gallery/image-02_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-02_s.png"
              alt="ice-cream in hand"
              class="gallery__pic"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-03_lg.webp    1x,
                images/gallery/image-03_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-03_lg.png    1x,
                images/gallery/image-03_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-03_m.webp    1x,
                images/gallery/image-03_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-03_m.png    1x,
                images/gallery/image-03_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-03_s.webp    1x,
                images/gallery/image-03_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-03_s.png    1x,
                images/gallery/image-03_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-03_s.png"
              alt="ice-creams on ice"
              class="gallery__pic"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__item gallery__item--big">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-04_lg.webp    1x,
                images/gallery/image-04_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-04_lg.png    1x,
                images/gallery/image-04_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-04_m.webp    1x,
                images/gallery/image-04_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-04_m.png    1x,
                images/gallery/image-04_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-04_s.webp    1x,
                images/gallery/image-04_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-04_s.png    1x,
                images/gallery/image-04_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-04_s.png"
              alt="many ice-creams on ice"
              class="gallery__pic"
            />
          </picture>
        </div>
        <div class="gallery__item gallery__item--small">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-05_lg.webp    1x,
                images/gallery/image-05_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-05_lg.png    1x,
                images/gallery/image-05_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-05_m.webp    1x,
                images/gallery/image-05_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-05_m.png    1x,
                images/gallery/image-05_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-05_s.webp    1x,
                images/gallery/image-05_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-05_s.png    1x,
                images/gallery/image-05_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-05_s.png"
              alt="girl with ice-cream"
              class="gallery__pic"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-06_lg.webp    1x,
                images/gallery/image-06_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-06_lg.png    1x,
                images/gallery/image-06_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-06_m.webp    1x,
                images/gallery/image-06_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-06_m.png    1x,
                images/gallery/image-06_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-06_s.webp    1x,
                images/gallery/image-06_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-06_s.png    1x,
                images/gallery/image-06_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-06_s.png"
              alt="ice-creams in cups"
              class="gallery__pic"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-07_lg.webp    1x,
                images/gallery/image-07_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-07_lg.png    1x,
                images/gallery/image-07_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-07_m.webp    1x,
                images/gallery/image-07_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-07_m.png    1x,
                images/gallery/image-07_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-07_s.webp    1x,
                images/gallery/image-07_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-07_s.png    1x,
                images/gallery/image-07_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-07_s.png"
              alt="ice-cream on the street"
              class="gallery__pic"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-08_lg.webp    1x,
                images/gallery/image-08_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-08_lg.png    1x,
                images/gallery/image-08_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-08_m.webp    1x,
                images/gallery/image-08_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-08_m.png    1x,
                images/gallery/image-08_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-08_s.webp    1x,
                images/gallery/image-08_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-08_s.png    1x,
                images/gallery/image-08_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-08_s.png"
              alt="dog with ice-cream"
              class="gallery__pic"
            />
          </picture>
        </div>
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-09_lg.webp    1x,
                images/gallery/image-09_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-09_lg.png    1x,
                images/gallery/image-09_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-09_m.webp    1x,
                images/gallery/image-09_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-09_m.png    1x,
                images/gallery/image-09_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-09_s.webp    1x,
                images/gallery/image-09_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-09_s.png    1x,
                images/gallery/image-09_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              src="./images/gallery/image-09_s.png"
              alt="coffee with ice-cream"
              class="gallery__pic"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__column">
        <div class="gallery__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-10_lg.webp    1x,
                images/gallery/image-10_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                images/gallery/image-10_lg.png    1x,
                images/gallery/image-10_lg@2x.png 2x
              "
              type="image/png"
            />

            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-10_m.webp    1x,
                images/gallery/image-10_m@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/gallery/image-10_m.png    1x,
                images/gallery/image-10_m@2x.png 2x
              "
              type="image/png"
            />

            <!-- Mobile screen -->
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-10_s.webp    1x,
                images/gallery/image-10_s@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/gallery/image-10_s.png    1x,
                images/gallery/image-10_s@2x.png 2x
              "
              type="image/png"
            />
            <!-- default image -->
            <img
              class="gallery__pic"
              src="./images/gallery/image-10_s.png"
              alt="ice-cream on a bottle"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
