<header class="header">
    <div class="container">
        <nav class="header-nav">
            <a href="./index.html" class="header-nav__link">
                <svg class="header-nav__logo" width="199" height="50">
                    <use href="./images/icons/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <button type="button" class="menu-btn" data-menu-button aria-expanded="false">
                <svg width="20" height="12" aria-label="переключатель мобильного меню">
                    <use width="20" height="12" class="menu-btn__burger" href="./images/icons/icons.svg#icon-burger">
                    </use>
                    <use width="20" height="20" class="menu-btn__cross" href="./images/icons/icons.svg#icon-close">
                    </use>
                </svg>
            </button>
            <button class="menu-container__btn--tablet" type="button" data-modal-open-tab>
                Buy now
                <svg class="menu__pointer" width="5.26" height="8">
                    <use href="./images/icons/icons.svg#icon-pointer"></use>
                </svg>
            </button>
            <div class="menu-container" data-menu>
                <button class="menu-container__btn" type="button" data-modal-open>
                    Buy now
                    <svg class="menu__pointer" width="5.26" height="8">
                        <use href="./images/icons/icons.svg#icon-pointer"></use>
                    </svg>
                </button>

                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__text" href="#">Home</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__text" href="#about_us">About us</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__text" href="#how-its-made">How it's made?</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__text" href="#our-products">Our products</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__text" href="#contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container-counter">
            <h1 class="header__title">
                ice cream made with
                <span class="header__title--span">passion</span>
            </h1>

            <div class="box-counter">
                <div class="box-counter benefits__inner">
                    <p class="box-counter__text benefits__number">16</p>
                    <p class="box-counter__text--items">cafes</p>
                </div>

                <div class="couter-circle1"></div>
                <div class="couter-circle2"></div>

                <div class="box-counter benefits__inner">
                    <p class="box-counter__text benefits__number">23</p>
                    <p class="box-counter__text--items">food trucks</p>
                </div>
            </div>
        </div>

        <div class="box-btn">
            <a class="box-btn__products" href="#our-products">Products</a>
            <a class="box-btn__howmade" href="#how-its-made">How it's made?</a>
        </div>

        <div class="header__images">
            <!--Общая обвертка всех картинок-->
            <div class="header__images--ellipse">
                <!--контейнер для элипса -->

                <picture>
                    <!--Мороженое-->
                    <source srcset="./images/hero/icecream-desk@1x.png 236w, ./images/hero/icecream-desk@2x.png 472w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 236px" />
                    <source srcset="./images/hero/icecream-tab@1x.png 143w, ./images/hero/icecream-tab@2x.png 286w"
                        media="(min-width: 768px)" sizes="(min-width: 768px) 143px" />
                    <source srcset="./images/hero/icecream-mob@1x.png 171w, ./images/hero/icecream-mob@2x.png 342w"
                        media="(min-width: 320px)" sizes="(min-width: 320px) 171px" />
                    <img class="header__images--icecream" src="./images/hero/icecream-mob@1x.png" alt="icecream">
                </picture>
            </div>
            <div class="header__images--milk animate__zoomInDown">
                <picture>
                    <!--Молоко-->
                    <source srcset="./images/hero/milk-desk@1x.png 213w, ./images/hero/milk-desk@2x.png 426w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 213px" />
                    <source srcset="./images/hero/milk-tab@1x.png 152w, ./images/hero/milk-tab@2x.png 304w"
                        media="(min-width: 768px)" sizes="(min-width: 768px) 152px" />
                    <img src="./images/hero/milk-tab@1x.png" alt="milk">
                </picture>
            </div>
            <div class="header__images--girl">
                <picture>
                    <!--Девушка с мороженым-->
                    <source srcset="./images/hero/girl-desk@1x.png 304w, ./images/hero/girl-desk@2x.png 608w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 304px" />
                    <source srcset="./images/hero/girl-tab@1x.png 190w, ./images/hero/girl-tab@2x.png 380w"
                        media="(min-width: 768px)" sizes="(min-width: 768px) 190px" />
                    <img src="./images/hero/girl-tab@1x.png" alt="girl eat icecream">
                </picture>
            </div>
        </div>

        <p class="header__discr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et <span class="dots">...</span><span class="more headerDiscr">Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et</span>
        </p>

        <button class="header__discr--btn headerDiscrBtn" type="button">
            <svg width="10">
                <use class="svg-right" href="./images/icons/icons.svg#icon-arrow-right"></use>
                <use class="svg-left" href="./images/icons/icons.svg#icon-arrow-left"></use>
            </svg>
        </button>

    </div>
    <!-- Модальное окно -->
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button class="modal__btn" data-modal-close>
                <svg class="modal__icon">
                    <use href="./images/icons/icons.svg#icon-close"></use>
                </svg>
            </button>

            <!-- ---------------------------------------------------------------------------------- -->
            <div class="dws-wrapper">
                <ul class="modal-product">
                    <li class="modal-product__icecream modal-item">
                        <img class="product-img" src="./images/products/home-pic1-280.png" alt="icecream">

                        <div class="modal-product__cream">
                            <h3 class="modal-product__name">ice cream</h3>
                            <button class="modal-product__btn button" type="submit">
                                Order
                            </button>
                        </div>
                    </li>

                    <li class="modal-product__icecoffee modal-item">
                        <img class="product-img" src="./images/products/home-pic2-280.png" alt="icecoffe">
                        <div class="modal-product__coffee">
                            <h3 class="modal-product__name">ice coffee</h3>
                            <button class="modal-product__btn button" type="submit">
                                Order
                            </button>
                        </div>
                    </li>

                    <li class="modal-product__milkshake modal-item">
                        <img class="product-img" src="./images/products/home-pic3-280.png" alt="milksgake">
                        <div class="modal-product__shake">
                            <h3 class="modal-product__name">milkshakes</h3>
                            <button class="modal-product__btn button" type="submit">
                                Order
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
</header>