<section class="reviews">
    <!-- Swiper -->
    <div class="container swiper-container swiper-slider">
        <h2 class="title" hidden>Reviews</h2>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img class="person" srcset="
                ./images/reviews/testimonials1.webp    1x,
                ./images/reviews/testimonials1@2x.webp 2x,
                ./images/reviews/testimonials1.jpg     1x,
                ./images/reviews/testimonials1@2x.jpg  2x
              " src="./images/reviews/testimonials1.jpg" alt="testimonials1" width="85px" height="85px" />
                <div class="feedback-box">
                    <p class="blockquote">
                        All it takes is one bite to get hooked. It's very delicious ice-cream I've ever
                        eaten. All it takes is one bite to get hooked. It's very delicious ice-cream I've ever
                        eaten.
                    </p>
                </div>
                <p class="name current">Emily, Los Angeles</p>
            </div>
            <div class="swiper-slide">
                <img class="person" srcset="
                ./images/reviews/testimonials2.webp    1x,
                ./images/reviews/testimonials2@2x.webp 2x,
                ./images/reviews/testimonials2.jpg     1x,
                ./images/reviews/testimonials2@2x.jpg  2x
              " src="./images/reviews/testimonials2.jpg" alt="testimonials2" width="85px" height="85px" />
                <div class="feedback-box">
                    <p class="blockquote">
                        No one else makes ice cream like them. I am seriously addicted to their ice cream
                        creation treat. No one else makes ice cream like them. I am seriously addicted to their ice
                        cream
                        creation treat.
                    </p>
                </div>
                <p class="name">Lily, Chicago</p>
            </div>
            <div class="swiper-slide">
                <img class="person" width="85px" height="85px" srcset="
                ./images/reviews/testimonials3.webp    1x,
                ./images/reviews/testimonials3@2x.webp 2x,
                ./images/reviews/testimonials3.jpg     1x,
                ./images/reviews/testimonials3@2x.jpg  2x
              " src="./images/reviews/testimonials3.jpg" alt="testimonials3" />
                <div class="feedback-box">
                    <p class="blockquote">
                        OMG I've never tasted anything like this. The best ice cream in the whole damn
                        world. OMG I've never tasted anything like this. The best ice cream in the whole damn
                        world.
                    </p>
                </div>
                <p class="name">Rose, New York</p>
            </div>
        </div>
    </div>
</section>