.advantages {
  background-color: var(--first-bg-color);
}

.page-advantages {
  @media screen and (min-width: 320px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__list {
    @media screen and (min-width: 320px) {
      display: flex;
      flex-wrap: wrap;
      gap: 1;
    }

    @media screen and (min-width: 768px) {
      gap: 3;
    }
  }

  &__item {
    @media screen and (min-width: 320px) {
      max-width: 230px;
    }
  }

  &__item--1 {
    @media screen and (min-width: 768px) {
      max-width: 180px;
      margin-right: 4px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 288px;
      margin-right: 115px;
    }
  }

  &__item--2 {
    @media screen and (min-width: 768px) {
      max-width: 162px;
      margin-right: 22px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 317px;
      margin-right: 80px;
    }
  }

  &__item--3 {
    @media screen and (min-width: 768px) {
      max-width: 159px;
    }
    
    @media screen and (min-width: 1200px) {
      max-width: 288px;
    }
  }

  &__item:not(:last-child){
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__icon {
    display: block;
    width: auto;
    height: 50px;

    @media screen and (min-width: 320px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  &__text {
    font-weight: 700;

    @media screen and (min-width: 320px) {
      font-size: 12px;
      line-height: 1.7;
      color: var(--main-color);
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.76;
      letter-spacing: 0.02em;
    }
  }

  &__title {
    font-family: 'Titan One';
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--brand-color);

    @media screen and (min-width: 320px) {
      font-size: 36px;
      line-height: 1.14;

      height: 56px;
      margin-bottom: 4px;
    }

    @media screen and (min-width: 768px) {
      display: inline-flex;
      margin-bottom: 13px;

      font-size: 48px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 1.14;

      height: 65px;
      margin-bottom: 16px;
    }
  }
}
