.container-bg {
  width: 100%;
  background-image: linear-gradient(#ffffff 21%, #fff5f6 21%);
  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}
.cities {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.chicago {
  padding: 40px 32px;
  max-width: 280px;
  background: var(--third-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &_cafe {
    width: 80px;
    margin-bottom: 20px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    text-align: center;
    letter-spacing: 0.04em;

    color: var(--third-color);
    background: #f0d1a5;
    border-radius: 4px;
  }
  &_citi {
    margin: 0px;
    margin-bottom: 8px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: var(--main-color);
  }
  &_description {
    margin-bottom: 24px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #907e82;
  }

  &_timetable {
    padding: 24px 0;
  }
  &_day {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    color: var(--main-color);
  }
  &_time {
    margin-bottom: 8px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    color: #ffa5ba;
  }
  &_tel {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #907e82;
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
  &_contacts {
    margin-top: 24px;
  }
}
hr {
  margin: 0;
  width: 100%;
  border: 0.5px solid #e1e1e1;
  background-color: #e1e1e1;
}
.los-angeles_cafe {
  margin-bottom: 20px;
  width: 130px;
  text-align: center;
  background: #c2e297;
  border-radius: 4px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;

  color: var(--third-color);
}
.chicago_btn {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.locations_btn {
  height: 44px;
  padding: 12px 20px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;

  color: var(--third-color);
  background: #d41342;
  border-radius: 22px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #d41342;
  }
}
.locations_pointer {
  margin-left: 11px;
  fill: var(--third-color);
}
.franchise_btn {
  height: 44px;
  padding: 12px 37px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;

  color: var(--brand-color);
  background: var(--third-color);
  border-radius: 22px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.franchise_pointer {
  margin-left: 13px;
  fill: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .cities {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
  }
  .chicago {
    width: 224px;
    &_cafe {
      margin-bottom: 32px;
      width: 73px;
      font-size: 14px;
    }
    &_citi {
      margin-bottom: 12px;
      font-size: 14px;
    }
    &_description {
      margin-bottom: 32px;

      font-size: 14px;
      line-height: 1.66;
    }
    &_timetable {
      padding: 32px 0;
    }
    &_day {
      font-size: 14px;
    }
    &_time {
      margin-bottom: 12px;

      font-size: 14px;
    }
    &_tel {
      font-size: 14px;
      line-height: 1.83;
    }
    &_contacts {
      margin-top: 32px;
    }
  }
  .los-angeles_cafe {
    margin-bottom: 32px;
    width: 138px;
    font-size: 16px;
  }
  .chicago_btn {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .chicago {
    width: 368px;
    &_cafe {
      width: 75px;
      font-size: 16px;
    }
    &_citi {
      margin-bottom: 8px;
      font-size: 16px;
    }
    &_description {
      font-size: 16px;
      line-height: 1.83;
    }
    &_day {
      font-size: 16px;
    }
    &_time {
      font-size: 16px;
    }
    &_tel {
      font-size: 16px;
    }
  }
  .los-angeles_cafe {
    width: 138px;

    font-size: 16px;
  }
  .chicago_btn {
    gap: 12px;
  }
}
// modal
.beckdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}

.beckdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contacts_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 40px;
  background: var(--first-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
}

.contacts_modal-drop {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: var(--third-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--timing-function);
}

.contacts_modal-close {
  width: 15px;
  height: 15px;

  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.modal-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff5f6;
}
.modal-citi {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .modal-citi {
    font-size: 58px;
    line-height: 66px;
  }
}
